# Домашнее задание №1

В этом домашнем задании вы познакомитесь с платформой Kaggle, а также поучаствуете в небольшом сореврновании, которое поможет закрепить вам знания, полученные на наших лекциях.

Соревнование можно найти по ссылке: https://www.kaggle.com/c/mytracker-mlhomework1-fall20 \
Для того, чтобы присоединиться к этому соревнованию, перейдите по ссылке: https://www.kaggle.com/t/ebaddc30cce54e329c64f7504b274c2c \
Скачать данные можно во вкладке `Data`, в которой находится 3 файла:
 - `train.csv` - обучающая выборка
 - `test.csv` - тестовая выборка
 - `sampleSubmission.csv` - пример сабмита, который вы должны будете загрузить на Kaggle, чтобы предоставить свое решение (аналогичный файл мы с вами сгенерируем в этом ноутбуке)
 
Описание данных вы можете прочитать также на Kaggle.

Несколько основных моментов данного домашнего задания:
 1. Метрикой является RMSE (Root Mean Square Error, https://en.wikipedia.org/wiki/Root-mean-square_deviation).
 2. Тестовая выборка из файла `test.csv` разделена на 2 части: 
  - __Public Leaderboard__ - во время участия вы можете ориентироваться на этот лидерборд, чтобы оценивать ваше решение, а также видеть несколько наших бенчмарков и решения других участников.\
  **Важный момент**. Оценка на Public Leaderboard строится не на всех примерах из `test.csv`, а только на 60% (каких именно узнать нельзя).
  - __Private Leaderboard__ - откроется только после окончания соревнования. Именно по нему мы будем распределять баллы и он состоит из оставшихся 40% примеров из `test.csv`.
 3. Мы надеемся на то, что вы будете не только использовать модели машинного обучения, которые мы будем проходить по ходу лекций, но и попробуете сами изучить данные и сделать прогнозы "руками". Соревнование будет длиться достаточно долго (до 23.11), тем самым будет неплохо, если вы сможете изучить выданные датасеты, чтобы сделать более качественный прогноз.
 4. В день можно отправить до 5 посылок с решением, так что не оставляйте все на последний день.
 5. В конце соревнования ТОП10 участников мы попросим прислать рабочий ноутбук с их решением, чтобы убедиться, что никто не пытался сжульничать, так что держите свое решение "в чистоте", чтобы по окончанию соревнования его можно было показать нам.
 6. В соревновании нет ограничений на модели или подходы, которые вы будете использовать, если они не выходят за рамки данных, предоставленных в данном соревновании.

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pandas_profiling
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission_filename = 'data/sampleSubmission.csv'

In [3]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [94]:
train['Date'] =pd.to_datetime(train.Date)
train['new_bitch']=train.Holiday.isnull()

In [ ]:
def func_new(x):
    if x[2]==True and x[1]==0:
        return 1
    elif x[2]==True and x[1]==1:
        return 0
    else:
        return x[0]

In [98]:
train['Holiday']= train.loc[:,['Holiday','Open','new_bitch']].apply(lambda x: func_new(x), axis=1).astype(int)

train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,Holiday,new_bitch
0,474,5,2019-04-13,4256,502,1,0,0,False
1,862,5,2019-04-13,2574,319,1,0,0,False
2,108,5,2019-04-13,4687,492,1,0,0,False
3,48,5,2019-04-13,9779,1370,1,0,0,False
4,539,5,2019-04-13,2156,234,1,0,0,False
...,...,...,...,...,...,...,...,...,...
963684,73,1,2016-11-01,0,0,0,0,1,False
963685,649,1,2016-11-01,0,0,0,0,1,False
963686,429,1,2016-11-01,0,0,0,0,1,False
963687,898,1,2016-11-01,0,0,0,0,1,False
963688,704,1,2016-11-01,0,0,0,0,1,False

In [119]:
train2

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,Holiday,new_bitch
0,704,1,2016-11-01,0,0,0,0,1,False
1,767,1,2016-11-01,0,0,0,0,1,False
2,187,1,2016-11-01,0,0,0,0,1,False
3,163,1,2016-11-01,0,0,0,0,1,False
4,941,1,2016-11-01,0,0,0,0,1,False
...,...,...,...,...,...,...,...,...,...
963684,188,5,2019-04-13,6286,508,1,0,0,False
963685,204,5,2019-04-13,6652,602,1,0,0,False
963686,1066,5,2019-04-13,5412,471,1,0,0,False
963687,537,5,2019-04-13,7357,836,1,0,0,False
963688,474,5,2019-04-13,4256,502,1,0,0,False

In [99]:
train['Date'].agg([np.max, np.min])

amax   2019-04-13
amin   2016-11-01
Name: Date, dtype: datetime64[ns]

In [126]:
train2 = train.sort_values('Date').reset_index().drop('index', axis=1)
train2.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,Holiday,new_bitch
963684,188,5,2019-04-13,6286,508,1,0,0,False
963685,204,5,2019-04-13,6652,602,1,0,0,False
963686,1066,5,2019-04-13,5412,471,1,0,0,False
963687,537,5,2019-04-13,7357,836,1,0,0,False
963688,474,5,2019-04-13,4256,502,1,0,0,False

In [120]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import RandomForestRegressor

X_train = train2.loc[:int(train2.shape[0]*0.7),['Store', 'DayOfWeek','Holiday']]
y_train = train2.loc[:int(train2.shape[0]*0.7),'Sales']
X_test = train2.loc[int(train2.shape[0]*0.7):,['Store', 'DayOfWeek','Holiday']]
y_test = train2.loc[int(train2.shape[0]*0.7):,'Sales']

#X_train, X_test, y_train, y_test = TimeSeriesSplit(X, y, test_size=0.3, random_state=17)

In [142]:
X_test_r = test.loc[:,['Store', 'DayOfWeek','Holiday']]

In [131]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=2)
i = 1
score = []
for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]
    for ne in np.linspace(50, 100, 2):
        for md in np.linspace(10, 21, 2):
            for msl in np.linspace(30, 51, 2):
                rfr = RandomForestRegressor(
                    
                    
                    n_estimators=int(ne),
                    max_depth=int(md),
                    min_samples_leaf=int(msl))
                rfr.fit(X_tr, y_tr)
                score.append([i,
                              mf, 
                              ne,
                              md, 
                              msl, 
                              rfr.score(X_val, y_val)])
    i += 1

NameError: name 'mf' is not defined

In [ ]:
for_cycle=np.sort(train['Store'].unique())

In [123]:
np.linspace(20, 40, 5)

array([20., 25., 30., 35., 40.])

In [132]:
tscv = TimeSeriesSplit(n_splits=5)
i = 1
score = []

for tr_index, val_index in tscv.split(X_train):
    print(tr_index, val_index)
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]

[     0      1      2 ... 112430 112431 112432] [112433 112434 112435 ... 224860 224861 224862]
[     0      1      2 ... 224860 224861 224862] [224863 224864 224865 ... 337290 337291 337292]
[     0      1      2 ... 337290 337291 337292] [337293 337294 337295 ... 449720 449721 449722]
[     0      1      2 ... 449720 449721 449722] [449723 449724 449725 ... 562150 562151 562152]
[     0      1      2 ... 562150 562151 562152] [562153 562154 562155 ... 674580 674581 674582]

In [129]:
X_train

        Store  DayOfWeek  Holiday
0         704          1        1
1         767          1        1
2         187          1        1
3         163          1        1
4         941          1        1
...       ...        ...      ...
674578    523          1        0
674579    874          1        0
674580   1009          1        0
674581   1079          1        0
674582     76          1        0

[674583 rows x 3 columns]

In [139]:
tscv = TimeSeriesSplit(n_splits=5)
i = 1
score = []

for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]
    for mf in [2,3]:
        for ne in np.linspace(50, 100, 6):
            for md in np.linspace(20, 40, 5):
                for msl in np.linspace(50, 100, 6):
                    rfr = RandomForestRegressor(
                        n_jobs=-1,
                        max_features=int(mf),
                        n_estimators=int(ne),
                        max_depth=int(md),
                        min_samples_leaf=int(msl))
                    rfr.fit(X_tr, y_tr)
                    score.append([i,
                                  mf, 
                                  ne,
                                  md, 
                                  msl, 
                                  rfr.score(X_val, y_val)])
    
    print(i, mf, ne, md, msl)
    i+=1

1 3 100.0 40.0 100.0
2 3 100.0 40.0 100.0
3 3 100.0 40.0 100.0
4 3 100.0 40.0 100.0
5 3 100.0 40.0 100.0

In [147]:
score[-200:]

[[5, 2, 100.0, 25.0, 90.0, 0.6667632510240395],
 [5, 2, 100.0, 25.0, 100.0, 0.6484283650732554],
 [5, 2, 100.0, 30.0, 50.0, 0.7250718039103896],
 [5, 2, 100.0, 30.0, 60.0, 0.7069291470606243],
 [5, 2, 100.0, 30.0, 70.0, 0.7086558754343248],
 [5, 2, 100.0, 30.0, 80.0, 0.7045647255446988],
 [5, 2, 100.0, 30.0, 90.0, 0.6803082672859928],
 [5, 2, 100.0, 30.0, 100.0, 0.653300308309394],
 [5, 2, 100.0, 35.0, 50.0, 0.733158797217055],
 [5, 2, 100.0, 35.0, 60.0, 0.7083433769893094],
 [5, 2, 100.0, 35.0, 70.0, 0.7113599962856313],
 [5, 2, 100.0, 35.0, 80.0, 0.7092146264133923],
 [5, 2, 100.0, 35.0, 90.0, 0.6856127543664763],
 [5, 2, 100.0, 35.0, 100.0, 0.6541163556651616],
 [5, 2, 100.0, 40.0, 50.0, 0.7316983475899439],
 [5, 2, 100.0, 40.0, 60.0, 0.7118684604699593],
 [5, 2, 100.0, 40.0, 70.0, 0.7108366333095256],
 [5, 2, 100.0, 40.0, 80.0, 0.7099457078198581],
 [5, 2, 100.0, 40.0, 90.0, 0.6846722797712634],
 [5, 2, 100.0, 40.0, 100.0, 0.6527829052853662],
 [5, 3, 50.0, 20.0, 50.0, 0.7157930485224023],
 [5, 3, 50.0, 20.0, 60.0, 0.7066336045346384],
 [5, 3, 50.0, 20.0, 70.0, 0.7073723391583298],
 [5, 3, 50.0, 20.0, 80.0, 0.7075158842595384],
 [5, 3, 50.0, 20.0, 90.0, 0.7006679036517203],
 [5, 3, 50.0, 20.0, 100.0, 0.6894690693965824],
 [5, 3, 50.0, 25.0, 50.0, 0.7619325117742837],
 [5, 3, 50.0, 25.0, 60.0, 0.7530988100719203],
 [5, 3, 50.0, 25.0, 70.0, 0.7548737307559644],
 [5, 3, 50.0, 25.0, 80.0, 0.7522859408189863],
 [5, 3, 50.0, 25.0, 90.0, 0.7448099941976187],
 [5, 3, 50.0, 25.0, 100.0, 0.7336942218028244],
 [5, 3, 50.0, 30.0, 50.0, 0.7812165778162002],
 [5, 3, 50.0, 30.0, 60.0, 0.7702268410628725],
 [5, 3, 50.0, 30.0, 70.0, 0.7703537006186874],
 [5, 3, 50.0, 30.0, 80.0, 0.7683194474439237],
 [5, 3, 50.0, 30.0, 90.0, 0.7586792557696123],
 [5, 3, 50.0, 30.0, 100.0, 0.745643686184585],
 [5, 3, 50.0, 35.0, 50.0, 0.7859024981544714],
 [5, 3, 50.0, 35.0, 60.0, 0.7734433185355837],
 [5, 3, 50.0, 35.0, 70.0, 0.7734210199383281],
 [5, 3, 50.0, 35.0, 80.0, 0.7728787213278393],
 [5, 3, 50.0, 35.0, 90.0, 0.7621842093349801],
 [5, 3, 50.0, 35.0, 100.0, 0.7468720185086245],
 [5, 3, 50.0, 40.0, 50.0, 0.7861686007083899],
 [5, 3, 50.0, 40.0, 60.0, 0.7739652119063937],
 [5, 3, 50.0, 40.0, 70.0, 0.7740366747830933],
 [5, 3, 50.0, 40.0, 80.0, 0.7735227223890329],
 [5, 3, 50.0, 40.0, 90.0, 0.7626204423086159],
 [5, 3, 50.0, 40.0, 100.0, 0.7472954906613702],
 [5, 3, 60.0, 20.0, 50.0, 0.7116241528222282],
 [5, 3, 60.0, 20.0, 60.0, 0.706238339416623],
 [5, 3, 60.0, 20.0, 70.0, 0.7084763787503812],
 [5, 3, 60.0, 20.0, 80.0, 0.7096223391037827],
 [5, 3, 60.0, 20.0, 90.0, 0.6981474326079342],
 [5, 3, 60.0, 20.0, 100.0, 0.6937275357488479],
 [5, 3, 60.0, 25.0, 50.0, 0.7658350997017387],
 [5, 3, 60.0, 25.0, 60.0, 0.7541995735439985],
 [5, 3, 60.0, 25.0, 70.0, 0.7541258191414771],
 [5, 3, 60.0, 25.0, 80.0, 0.7523144720099718],
 [5, 3, 60.0, 25.0, 90.0, 0.7435536922435407],
 [5, 3, 60.0, 25.0, 100.0, 0.7333923813878331],
 [5, 3, 60.0, 30.0, 50.0, 0.7807529842165781],
 [5, 3, 60.0, 30.0, 60.0, 0.7698546535571056],
 [5, 3, 60.0, 30.0, 70.0, 0.7703423373082652],
 [5, 3, 60.0, 30.0, 80.0, 0.7686550609146162],
 [5, 3, 60.0, 30.0, 90.0, 0.7586256533264506],
 [5, 3, 60.0, 30.0, 100.0, 0.7458664961681611],
 [5, 3, 60.0, 35.0, 50.0, 0.7852980429532468],
 [5, 3, 60.0, 35.0, 60.0, 0.77353634443932],
 [5, 3, 60.0, 35.0, 70.0, 0.7732971930556014],
 [5, 3, 60.0, 35.0, 80.0, 0.7729059959183304],
 [5, 3, 60.0, 35.0, 90.0, 0.7615961415632636],
 [5, 3, 60.0, 35.0, 100.0, 0.7468844816060872],
 [5, 3, 60.0, 40.0, 50.0, 0.7863468825734409],
 [5, 3, 60.0, 40.0, 60.0, 0.7744946555384563],
 [5, 3, 60.0, 40.0, 70.0, 0.7742796619968547],
 [5, 3, 60.0, 40.0, 80.0, 0.7733997631086971],
 [5, 3, 60.0, 40.0, 90.0, 0.7623932281947947],
 [5, 3, 60.0, 40.0, 100.0, 0.7471373873534288],
 [5, 3, 70.0, 20.0, 50.0, 0.7148320754462265],
 [5, 3, 70.0, 20.0, 60.0, 0.7068374220878297],
 [5, 3, 70.0, 20.0, 70.0, 0.7089181765886108],
 [5, 3, 70.0, 20.0, 80.0, 0.7040101459057996],
 [5, 3, 70.0, 20.0, 90.0, 0.6978128800145655],
 [5, 3, 70.0, 20.0, 100.0, 0.6895333820899627],
 [5, 3, 70.0, 25.0, 50.0, 0.7637282295403794],
 [5, 3, 70.0, 25.0, 60.0, 0.751989644866196],
 [5, 3, 70.0, 25.0, 70.0, 0.7539686349880234],
 [5, 3, 70.0, 25.0, 80.0, 0.7538768677451689],
 [5, 3, 70.0, 25.0, 90.0, 0.7431991065407187],
 [5, 3, 70.0, 25.0, 100.0, 0.732200931010181],
 [5, 3, 70.0, 30.0, 50.0, 0.7811234612015677],
 [5, 3, 70.0, 30.0, 60.0, 0.7703690321281075],
 [5, 3, 70.0, 30.0, 70.0, 0.7700941479546639],
 [5, 3, 70.0, 30.0, 80.0, 0.7685882489336804],
 [5, 3, 70.0, 30.0, 90.0, 0.7587448766453914],
 [5, 3, 70.0, 30.0, 100.0, 0.745275810686699],
 [5, 3, 70.0, 35.0, 50.0, 0.7859882475171228],
 [5, 3, 70.0, 35.0, 60.0, 0.7740059976716177],
 [5, 3, 70.0, 35.0, 70.0, 0.7735924623767889],
 [5, 3, 70.0, 35.0, 80.0, 0.772876536612573],
 [5, 3, 70.0, 35.0, 90.0, 0.7616993039664992],
 [5, 3, 70.0, 35.0, 100.0, 0.7471773151728057],
 [5, 3, 70.0, 40.0, 50.0, 0.7860928495456148],
 [5, 3, 70.0, 40.0, 60.0, 0.774303557909601],
 [5, 3, 70.0, 40.0, 70.0, 0.7743290219381798],
 [5, 3, 70.0, 40.0, 80.0, 0.7735931010223525],
 [5, 3, 70.0, 40.0, 90.0, 0.7624185409463012],
 [5, 3, 70.0, 40.0, 100.0, 0.7470055838203652],
 [5, 3, 80.0, 20.0, 50.0, 0.7125380829778557],
 [5, 3, 80.0, 20.0, 60.0, 0.7073621805961066],
 [5, 3, 80.0, 20.0, 70.0, 0.7058646463472952],
 [5, 3, 80.0, 20.0, 80.0, 0.7049068228597702],
 [5, 3, 80.0, 20.0, 90.0, 0.6994991989276964],
 [5, 3, 80.0, 20.0, 100.0, 0.689017691220456],
 [5, 3, 80.0, 25.0, 50.0, 0.7630243553628704],
 [5, 3, 80.0, 25.0, 60.0, 0.752313252746831],
 [5, 3, 80.0, 25.0, 70.0, 0.7538802113298844],
 [5, 3, 80.0, 25.0, 80.0, 0.7520754337198621],
 [5, 3, 80.0, 25.0, 90.0, 0.7452446254585574],
 [5, 3, 80.0, 25.0, 100.0, 0.7331924864040169],
 [5, 3, 80.0, 30.0, 50.0, 0.7797681323614153],
 [5, 3, 80.0, 30.0, 60.0, 0.7699473021148636],
 [5, 3, 80.0, 30.0, 70.0, 0.769769321538416],
 [5, 3, 80.0, 30.0, 80.0, 0.7693168145477818],
 [5, 3, 80.0, 30.0, 90.0, 0.7591533095410525],
 [5, 3, 80.0, 30.0, 100.0, 0.7452465028275788],
 [5, 3, 80.0, 35.0, 50.0, 0.785854685655676],
 [5, 3, 80.0, 35.0, 60.0, 0.7738778728491527],
 [5, 3, 80.0, 35.0, 70.0, 0.7734034416228955],
 [5, 3, 80.0, 35.0, 80.0, 0.7730718024052141],
 [5, 3, 80.0, 35.0, 90.0, 0.7617966835609563],
 [5, 3, 80.0, 35.0, 100.0, 0.747200009731875],
 [5, 3, 80.0, 40.0, 50.0, 0.7861146017996635],
 [5, 3, 80.0, 40.0, 60.0, 0.7744067238084769],
 [5, 3, 80.0, 40.0, 70.0, 0.7742050940572605],
 [5, 3, 80.0, 40.0, 80.0, 0.7735258534905003],
 [5, 3, 80.0, 40.0, 90.0, 0.7629365604151368],
 [5, 3, 80.0, 40.0, 100.0, 0.7470450454203509],
 [5, 3, 90.0, 20.0, 50.0, 0.7141317502607673],
 [5, 3, 90.0, 20.0, 60.0, 0.7055439753965214],
 [5, 3, 90.0, 20.0, 70.0, 0.707901564663129],
 [5, 3, 90.0, 20.0, 80.0, 0.7065959950997778],
 [5, 3, 90.0, 20.0, 90.0, 0.698048925610333],
 [5, 3, 90.0, 20.0, 100.0, 0.6901251717117614],
 [5, 3, 90.0, 25.0, 50.0, 0.7634886857078655],
 [5, 3, 90.0, 25.0, 60.0, 0.7535218146923401],
 [5, 3, 90.0, 25.0, 70.0, 0.7541292943816853],
 [5, 3, 90.0, 25.0, 80.0, 0.7523051727939452],
 [5, 3, 90.0, 25.0, 90.0, 0.7444668463703936],
 [5, 3, 90.0, 25.0, 100.0, 0.7342716880082697],
 [5, 3, 90.0, 30.0, 50.0, 0.7806601411979495],
 [5, 3, 90.0, 30.0, 60.0, 0.7701625797579154],
 [5, 3, 90.0, 30.0, 70.0, 0.7699830174076344],
 [5, 3, 90.0, 30.0, 80.0, 0.7685074489156981],
 [5, 3, 90.0, 30.0, 90.0, 0.7592336696954787],
 [5, 3, 90.0, 30.0, 100.0, 0.7452820821797564],
 [5, 3, 90.0, 35.0, 50.0, 0.7847033576232687],
 [5, 3, 90.0, 35.0, 60.0, 0.7738679101679573],
 [5, 3, 90.0, 35.0, 70.0, 0.7734263528318033],
 [5, 3, 90.0, 35.0, 80.0, 0.7728562966579833],
 [5, 3, 90.0, 35.0, 90.0, 0.7621663607398326],
 [5, 3, 90.0, 35.0, 100.0, 0.7471105952961014],
 [5, 3, 90.0, 40.0, 50.0, 0.787158456735805],
 [5, 3, 90.0, 40.0, 60.0, 0.7744068715177144],
 [5, 3, 90.0, 40.0, 70.0, 0.7744077872697165],
 [5, 3, 90.0, 40.0, 80.0, 0.7737004411814082],
 [5, 3, 90.0, 40.0, 90.0, 0.7629961877205653],
 [5, 3, 90.0, 40.0, 100.0, 0.7468503858819883],
 [5, 3, 100.0, 20.0, 50.0, 0.7150052875698674],
 [5, 3, 100.0, 20.0, 60.0, 0.706569721749479],
 [5, 3, 100.0, 20.0, 70.0, 0.7096435958284782],
 [5, 3, 100.0, 20.0, 80.0, 0.7065964808708067],
 [5, 3, 100.0, 20.0, 90.0, 0.7004479355990498],
 [5, 3, 100.0, 20.0, 100.0, 0.6904002812960519],
 [5, 3, 100.0, 25.0, 50.0, 0.7650835200739597],
 [5, 3, 100.0, 25.0, 60.0, 0.7533079384525219],
 [5, 3, 100.0, 25.0, 70.0, 0.7545925996147109],
 [5, 3, 100.0, 25.0, 80.0, 0.7529915067355222],
 [5, 3, 100.0, 25.0, 90.0, 0.7441032867917419],
 [5, 3, 100.0, 25.0, 100.0, 0.7337843169945808],
 [5, 3, 100.0, 30.0, 50.0, 0.781547947187743],
 [5, 3, 100.0, 30.0, 60.0, 0.770171977174783],
 [5, 3, 100.0, 30.0, 70.0, 0.7695929846842777],
 [5, 3, 100.0, 30.0, 80.0, 0.7698647455144698],
 [5, 3, 100.0, 30.0, 90.0, 0.7590944524975095],
 [5, 3, 100.0, 30.0, 100.0, 0.7455368566144391],
 [5, 3, 100.0, 35.0, 50.0, 0.7850586476681781],
 [5, 3, 100.0, 35.0, 60.0, 0.7735676284178201],
 [5, 3, 100.0, 35.0, 70.0, 0.7734974534343013],
 [5, 3, 100.0, 35.0, 80.0, 0.7725974773186587],
 [5, 3, 100.0, 35.0, 90.0, 0.762012552560244],
 [5, 3, 100.0, 35.0, 100.0, 0.7471185057046709],
 [5, 3, 100.0, 40.0, 50.0, 0.7867193956959577],
 [5, 3, 100.0, 40.0, 60.0, 0.774393026770716],
 [5, 3, 100.0, 40.0, 70.0, 0.7742083378858591],
 [5, 3, 100.0, 40.0, 80.0, 0.773425410999201],
 [5, 3, 100.0, 40.0, 90.0, 0.7623532763935088],
 [5, 3, 100.0, 40.0, 100.0, 0.7473502207000073]]

In [55]:
rfr.predict(X_test_r)

array([   0.        , 9263.01758292, 8522.59052707, ..., 4553.6819907 ,
       4452.53181889, 4793.17512297])

### тюним модельку уже

In [148]:
X_train = train2.loc[:int(train2.shape[0]),['Store', 'DayOfWeek','Holiday']]
y_train = train2.loc[:int(train2.shape[0]),'Sales']
X_test = train2.loc[int(train2.shape[0]*0.7):,['Store', 'DayOfWeek','Holiday']]
y_test = train2.loc[int(train2.shape[0]*0.7):,'Sales']

In [156]:
tscv = TimeSeriesSplit(n_splits=4)
i = 1
score_idol = []

for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]
    mf=3
    ne=90
    md=10
    msl=100           
    rfr = RandomForestRegressor(
        n_jobs=-1,
        max_features=int(mf),
        n_estimators=int(ne),
        max_depth=int(md),
        min_samples_leaf=int(msl))
    rfr.fit(X_tr, y_tr)
    score_idol.append([i,
                  mf, 
                  ne,
                  md, 
                  msl, 
                  rfr.score(X_val, y_val)])

    print(i, mf, ne, md, msl)
    i+=1

1 3 90 10 100
2 3 90 10 100
3 3 90 10 100
4 3 90 10 100

In [157]:
score_idol

[[1, 3, 90, 10, 100, 0.4821484893850245],
 [2, 3, 90, 10, 100, 0.5061759620085491],
 [3, 3, 90, 10, 100, 0.5042538741603075],
 [4, 3, 90, 10, 100, 0.5504038261942632]]

# БУСТИИИИНГ

In [160]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
tscv = TimeSeriesSplit(n_splits=4)
i = 1
score_idol_gb = []

for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]

    reg = GradientBoostingRegressor(random_state=0)
    reg.fit(X_tr, y_tr)
    score_idol_gb.append([i,
                  mf, 
                  ne,
                  md, 
                  msl, 
                  rfr.score(X_val, y_val)])

    print(i, mf, ne, md, msl)
    i+=1

1 3 90 10 100
2 3 90 10 100
3 3 90 10 100
4 3 90 10 100

In [161]:
score_idol_gb

[[1, 3, 90, 10, 100, 0.5092416920377427],
 [2, 3, 90, 10, 100, 0.5252028372481243],
 [3, 3, 90, 10, 100, 0.5162529335338681],
 [4, 3, 90, 10, 100, 0.5504038261942632]]

In [80]:
test['Date'].agg([np.max, np.min])

amax   2019-05-31
amin   2019-04-14
Name: Date, dtype: datetime64[ns]

In [73]:
test.describe()

                 ID         Store     DayOfWeek  Holiday
count  13104.000000  13104.000000  13104.000000  13104.0
mean    6552.500000    588.311355      2.958333      0.0
std     3782.943299    318.998619      1.999642      0.0
min        1.000000     12.000000      0.000000      0.0
25%     3276.750000    294.000000      1.000000      0.0
50%     6552.500000    600.000000      3.000000      0.0
75%     9828.250000    862.000000      5.000000      0.0
max    13104.000000   1113.000000      6.000000      0.0

In [124]:
s1 = pd.merge(test,sum_train_period , how='left', on=['Store', 'DayOfWeek'])
s1

          ID  Store  DayOfWeek       Date  Holiday    Sales
0          1     12          6 2019-04-14        0      0.0
1          2     12          0 2019-04-15        0  10454.8
2          3     12          1 2019-04-16        0   9166.0
3          4     12          2 2019-04-17        0   8888.4
4          5     12          3 2019-04-18        0   7273.0
...      ...    ...        ...        ...      ...      ...
13099  13100   1113          0 2019-05-27        0   8350.6
13100  13101   1113          1 2019-05-28        0   5638.8
13101  13102   1113          2 2019-05-29        0   5727.6
13102  13103   1113          3 2019-05-30        0   5480.0
13103  13104   1113          4 2019-05-31        0   5136.0

[13104 rows x 6 columns]

In [162]:
submission = test['ID'].to_frame()
submission['prediction'] = reg.predict(X_test_r)#rfr.predict(X_test_r)
submission.head()

   ID   prediction
0   1   636.474853
1   2  9529.302392
2   3  8422.463047
3   4  8199.150038
4   5  8199.150038

In [163]:
submission.to_csv('sampleSubmission.csv', index=None)